# === Environment ===
.env
.env.local

# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Virtual environment ===
.venv/

# === VS Code ===
.vscode/

# === AWS ===
awscliv2.zip
aws/
techradar.zip
package/
output.json
*.zip

# === OS ===
.DS_Store
Thumbs.db