# Environment
.env
__pycache__/
*.pyc

# Virtual environment
.venv/

# VS Code
.vscode/

# Ouvre .gitignore et ajoute ces lignes
echo "# AWS
awscliv2.zip
techradar.zip
output.json
package/
aws/

# Secrets
.env" > .gitignore